In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,HK,2021-07-24 14:21:26,22.2855,114.1577,90.21,86,79,1.01
1,1,Aklavik,CA,2021-07-24 14:21:27,68.2191,-135.0107,58.03,94,75,6.91
2,2,Busselton,AU,2021-07-24 14:21:27,-33.6500,115.3333,55.09,72,99,13.71
3,3,Bredasdorp,ZA,2021-07-24 14:21:27,-34.5322,20.0403,63.72,48,87,4.61
4,4,Rikitea,PF,2021-07-24 14:21:27,-23.1203,-134.9692,68.43,56,0,5.12

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Vila Franca Do Campo,PT,2021-07-24 14:21:28,37.7167,-25.4333,73.81,74,38,6.98
7,7,Laguna,US,2021-07-24 14:21:28,38.4210,-121.4238,76.23,68,1,1.99
9,9,Aflao,TG,2021-07-24 14:21:28,6.1160,1.1914,79.70,67,86,15.19
10,10,Suluq,LY,2021-07-24 14:17:10,31.6682,20.2521,88.88,38,0,20.09
11,11,Touros,BR,2021-07-24 14:16:37,-5.1989,-35.4608,86.90,53,6,19.46
15,15,Hasaki,JP,2021-07-24 14:21:29,35.7333,140.8333,77.40,82,0,5.64
23,23,Atikokan,CA,2021-07-24 14:21:31,48.7555,-91.6216,76.03,45,3,6.49
24,24,Tadine,NC,2021-07-24 14:21:31,-21.5500,167.8833,70.72,91,21,6.82
25,25,Saint-Philippe,RE,2021-07-24 14:21:32,-21.3585,55.7679,72.99,78,53,7.18
29,29,Bambous Virieux,MU,2021-07-24 14:21:33,-20.3428,57.7575,71.85,68,40,5.75

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
6   Vila Franca Do Campo      PT     73.81  37.7167  -25.4333
7                 Laguna      US     76.23  38.4210 -121.4238
9                  Aflao      TG     79.70   6.1160    1.1914
10                 Suluq      LY     88.88  31.6682   20.2521
11                Touros      BR     86.90  -5.1989  -35.4608
15                Hasaki      JP     77.40  35.7333  140.8333
23              Atikokan      CA     76.03  48.7555  -91.6216
24                Tadine      NC     70.72 -21.5500  167.8833
25        Saint-Philippe      RE     72.99 -21.3585   55.7679
29       Bambous Virieux      MU     71.85 -20.3428   57.7575

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Vila Franca Do Campo,PT,73.81,37.7167,-25.4333,Pestana Bahia Praia
7,Laguna,US,76.23,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
9,Aflao,TG,79.70,6.1160,1.1914,Hotel LeBenin
10,Suluq,LY,88.88,31.6682,20.2521,منزل عبدالواحد خليفة الفاخري
11,Touros,BR,86.90,-5.1989,-35.4608,INN NEW HORIZON
15,Hasaki,JP,77.40,35.7333,140.8333,Hotel Sunrise Choshi
23,Atikokan,CA,76.03,48.7555,-91.6216,Quetico Inn (formerly Radisson)
24,Tadine,NC,70.72,-21.5500,167.8833,
25,Saint-Philippe,RE,72.99,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
29,Bambous Virieux,MU,71.85,-20.3428,57.7575,Casa Tia Villa

In [15]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))